/* for archive page starts*/
.post-archive {
  font-size: 15px;
  line-height: 2;
  padding-bottom: .8em;
  h2 {
    margin: 0;
    font: bold 25px / 1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
  }
  .date {
    padding-right: .7em;
  }
}
/* for archive page ends*/